# Thanksgiving Evaluation
The following work explore the Thanksgiving data collected froma a survey.

In [1]:
import pandas as pd

data = pd.read_csv("thanksgiving.csv", encoding="Latin-1")
data.head(5)

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [2]:
# We want to know all the column labels
data.columns

Index(['RespondentID', 'Do you celebrate Thanksgiving?',
       'What is typically the main dish at your Thanksgiving dinner?',
       'What is typically the main dish at your Thanksgiving dinner? - Other (please specify)',
       'How is the main dish typically cooked?',
       'How is the main dish typically cooked? - Other (please specify)',
       'What kind of stuffing/dressing do you typically have?',
       'What kind of stuffing/dressing do you typically have? - Other (please specify)',
       'What type of cranberry saucedo you typically have?',
       'What type of cranberry saucedo you typically have? - Other (please specify)',
       'Do you typically have gravy?',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Buttermilk',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Cherry',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Chocolate',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Coconut cream',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Key lime',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Peach',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Sweet Potato',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - None',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)',
       'Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - None',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify)',
       'Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify).1',
       'Do you typically pray before or after the Thanksgiving meal?',
       'How far will you travel for Thanksgiving?',
       'Will you watch any of the following programs on Thanksgiving? Please select all that apply. - Macy's Parade',
       'What's the age cutoff at your "kids' table" at Thanksgiving?',
       'Have you ever tried to meet up with hometown friends on Thanksgiving night?',
       'Have you ever attended a "Friendsgiving?"',
       'Will you shop any Black Friday sales on Thanksgiving Day?',
       'Do you work in retail?',
       'Will you employer make you work on Black Friday?',
       'How would you describe where you live?', 'Age', 'What is your gender?',
       'How much total combined money did all members of your HOUSEHOLD earn last year?',
       'US Region'],
      dtype='object')

# Count how many people celebrate Thanksgiving and filtering out rows for those answering "no."

In [3]:
thanksgiving_count = data["Do you celebrate Thanksgiving?"].value_counts()
print(thanksgiving_count)

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [4]:
tg_yes = data["Do you celebrate Thanksgiving?"].values == "Yes"
data_tg = data[tg_yes]
print(len(data_tg))

980

# Exploring the main dishes

## Count how many times each main dish occurs

In [5]:
main_dish_count = data_tg["What is typically the main dish at your Thanksgiving dinner?"].value_counts()
print(main_dish_count)

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

## Select only "Tofurkey" and display "Do you typically have gravy?" column

Select only the rows where the "What is typically the main dish at your Thanksgiving dinner?" column equals "Tofurkey" and from these rows display the "Do you typically have gravy?" column

In [6]:
tofurkey_tg = data_tg.loc[data_tg["What is typically the main dish at your Thanksgiving dinner?"] == "Tofurkey"]
tofurkey_gravy = tofurkey_tg["Do you typically have gravy?"]
print(tofurkey_gravy.value_counts())

Yes    12
No      8
Name: Do you typically have gravy?, dtype: int64

# Exploring the Thanksgiving pies

## Find out the kinds of pies people ate

Here we are interested in knowing how many people eat apple, pecan, or pumpkin pie at their Thanskgiving dinner.

The survey is conducted by asking responders to select the pie type columns that applied to their pie choice. They could select zero (therefore all three columns are null), one, two, or all three (none of the three columns is null).

In [7]:
apple_isnull = pd.isnull(data_tg["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"])
pumpkin_isnull = pd.isnull(data_tg["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"])
pecan_isnull = pd.isnull(data_tg["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"])
ate_pies = apple_isnull & pumpkin_isnull & pecan_isnull
print(ate_pies.value_counts())

False    876
True     104
dtype: int64

"False" (one or more columns are not null) indicates that the responder ate at least one type of pie, while "True" (all columns are null) indicates that they ate none of the pies.
Here we see that 876 responders ate at least one type of pie, while only 104 people ate no pies.

In [8]:
apple_notnull = apple_isnull == False
pumpkin_notnull = pumpkin_isnull == False
pecan_notnull = pecan_isnull == False

## Counting the popularity of each pie

In [9]:
ate_only_apple = apple_notnull & pumpkin_isnull & pecan_isnull
print(ate_only_apple.value_counts())

False    910
True      70
dtype: int64

70 responders ate apple pie only.

In [10]:
ate_only_pumpkin = pumpkin_notnull & apple_isnull & pecan_isnull
print(ate_only_pumpkin.value_counts())

False    791
True     189
dtype: int64

Here we see 189 responders ate pumpkin pie only.

In [11]:
ate_only_pecan = pecan_notnull & apple_isnull & pumpkin_isnull
print(ate_only_pecan.value_counts())

False    935
True      45
dtype: int64

45 responders ate pecan pies only.

In [12]:
ate_apple_pumpkin = apple_notnull & pumpkin_notnull & pecan_isnull
print(ate_apple_pumpkin.value_counts())

False    705
True     275
dtype: int64

275 responders ate apple and pumpkin pies.

In [13]:
ate_apple_pecan = apple_notnull & pumpkin_isnull & pecan_notnull
print(ate_apple_pecan.value_counts())

False    948
True      32
dtype: int64

32 responders ate apple and pecan pies.

In [14]:
ate_pumpkin_pecan = apple_isnull & pumpkin_notnull & pecan_notnull
print(ate_pumpkin_pecan.value_counts())

False    852
True     128
dtype: int64

128 responders ate pumpkin and pecan pies.

In [15]:
ate_all_pies = apple_notnull & pumpkin_notnull & pecan_notnull
print(ate_all_pies.value_counts())

False    843
True     137
dtype: int64

And finally, 137 responders ate all three kinds of pies.

It seems pumpkin pies are a popular pie choice in many people's Thanksgiving dinner.

# Converting Age To Numeric

Now we want to convert the "Age" column to numeric values. Since the values are categorical such as "18 - 29", "30 - 44", "45 - 59", and "60+", we want to simplify them by taking only the first numbers, such as 18, 30, 45, and 60. Null values would be returned "None."

In dealing with "60+", we will first replace the "+" sign with an empty space " ". Then we will split the strings by the empty space " ".

In [16]:
def convert_age_to_numeric(s):
    if pd.isnull(s):
        return None
    else:
        if "+" in s:
            s = s.replace("+", " ")
        splitted_s = s.split(" ")
        first_item = splitted_s[0]
        return int(first_item)
    
int_age = data["Age"].apply(convert_age_to_numeric)
print(int_age.head(5))

0    18.0
1    18.0
2    18.0
3    30.0
4    30.0
Name: Age, dtype: float64

In [17]:
int_age.describe()

count    1025.000000
mean       39.383415
std        15.398493
min        18.000000
25%        30.000000
50%        45.000000
75%        60.000000
max        60.000000
Name: Age, dtype: float64

The average age of responders is 39.38 with the standard deviation of 15.39. The youngest responders are 18 while the oldest is 60.

However, note that in our process of conversion, we did a simplification that extracted only the first number of the string (18, 30, 45, and 60) from the original age ranges. Our results, then, reflects these simplified values and not the exact actual values.

# Converting Income to Numeric

To convert the income column into numeric, we will do the same simplification and method that we did to convert the age column to numeric.

In [18]:
def convert_income_to_numeric(s):
    if pd.isnull(s):
        return None
    else:
        splitted_s = s.split(" ")
        first_item = splitted_s[0]
        if first_item == "Prefer":
            return None
        else:
            no_dollar = first_item.replace("$", "")
            no_comma = no_dollar.replace(",", "")
            return int(no_comma)

int_income = data["How much total combined money did all members of your HOUSEHOLD earn last year?"].apply(convert_income_to_numeric)
int_income.head(5)

0     75000.0
1     50000.0
2         0.0
3    200000.0
4    100000.0
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: float64

In [19]:
int_income.describe()

count       889.000000
mean      74077.615298
std       59360.742902
min           0.000000
25%       25000.000000
50%       50000.000000
75%      100000.000000
max      200000.000000
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: float64

From the results we see that the average income is 74077, with standard deviation of 59360. This high value of standard deviation indicates a wide spread of values around the mean. This is not surprising, since the lowest income is zero while the highest is 200000. 

However, since we only took the first number of the income ranges, the computed mean might be less than the actual one.

# Correlating Travel Distance And Income

Now we are evaluating how someone's travel distance correlates to their income level. We hypothesize that lower income people are younger, which means they might travel longer distances to spend Thanksgiving with their parents, while the higher income people are older, and thus they usually spend Thanksgiving at their own house.

We created a new column "Income", which contains the integer values of the income.

In [20]:
data["Income"] = int_income
data["Income"].head(3)

0    75000.0
1    50000.0
2        0.0
Name: Income, dtype: float64

## Analyzing people whose income is less than 150k/year

In [21]:
low_income = data.loc[data["Income"] < 150000.0]
low_income_travel_dist = low_income["How far will you travel for Thanksgiving?"].value_counts()
print(low_income_travel_dist)

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

Here we see that the majority of them (281) said that Thanksgiving is held at their homes, while only 55 responders said they had to travel far to celebrate it.

## Analyzing people whose income is greater than 150k/year

In [22]:
high_income = data.loc[data["Income"] > 150000.0]
high_income_travel_dist = high_income["How far will you travel for Thanksgiving?"].value_counts()
print(high_income_travel_dist)

Thanksgiving is happening at my home--I won't travel at all                         49
Thanksgiving is local--it will take place in the town I live in                     25
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    16
Thanksgiving is out of town and far away--I have to drive several hours or fly      12
Name: How far will you travel for Thanksgiving?, dtype: int64

We see that the majority (49) of high income responders said they celebrated Thanksgiving at their homes, and the smallest number (12) said they had to travel far. This results are just like the low income people, only with smaller numbers, which is simply due to the fact that the number of people earning 150000 or more is much less than those earning less than 150000.

Recall that we hypothesized that those earning less than 150000 are younger and thus are more likely to travel far to visit their parents for Thanksgiving, while those earning 150000 or more are older, and so they had Thanksgiving at their homes.

In light of these results, it seems that our hypothesis fails to stand to our evaluation.

#  Linking Friendship and Age

To analyze friendship, we are looking at two columns: 'Have you ever tried to meet up with hometown friends on Thanksgiving night?' and 'Have you ever attended a "Friendsgiving"?'

We hypothesize that the responders who answered "Yes" to any or both questions are younger.

In [23]:
# Here we created a new column "Numeric Age" based on the int_age values.
data["Numeric Age"] = int_age
print(data["Numeric Age"].head(3))

0    18.0
1    18.0
2    18.0
Name: Numeric Age, dtype: float64

##  Finding the average age of responders answering both columns

In [24]:
fr_age_corr = pd.pivot_table(data=data,\
                             index="Have you ever tried to meet up with hometown friends on Thanksgiving night?",\
                             columns='Have you ever attended a "Friendsgiving?"',\
                             values="Numeric Age", aggfunc='mean')
print(fr_age_corr)

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

The average age of those saying "No" to both is 42, while those saying "Yes" to both is 33, which is the lowest of the four results. Putting aside the little caveat considering our simplification method in generating the numeric age column and thus the average could be higher, we see that an average age of 33 puts the birth year of the responders back to 1984, which places them in the millenial generation.

This seems to confirm our hypothesis that those answering "Yes" to both questions are younger.

##  Finding the average income of responders answering both columns

In [25]:
fr_income_corr = pd.pivot_table(data=data,\
                                index="Have you ever tried to meet up with hometown friends on Thanksgiving night?",\
                                columns='Have you ever attended a "Friendsgiving?"',\
                                values="Income", aggfunc='mean')
print(fr_income_corr)

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842

Here we see that those answering "No" to both questions had the highest average income of 78914, while those answering "Yes" to both questions had the lowest income with 66019. When we consider that the average age of those answering "Yes" is 33, which is considered a younger group of people, it explains the lower average income level.